h3 {
    margin: 0px;
}

.heading-box {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    box-shadow: 0px 0px 15px 20px aliceblue;
    border-radius: 1rem;

}

@mixin background-hover {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 50%;
    transition: filter 0.3s, transform 0.3s, box-shadow 0.3s, text-shadow 0.5s;
    padding: 0px;
    border: none;
    width: 50%;
    border-radius: 0px;
    max-width: 50%;
    filter: brightness(0.6);
    
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 20px rgb(0, 0, 0), 0 0 20px rgb(0, 0, 0);
    
    
    $shadow-color: #000000;
    &:hover {
        filter: brightness(.8);
        transform: scale(1.1);
        color: white;
        text-shadow: 
            0 0 20px $shadow-color,
            0 0 30px $shadow-color,
            0 0 40px $shadow-color,
            0 0 50px $shadow-color,
            0 0 60px $shadow-color,
            0 0 70px $shadow-color,
            0 0 80px $shadow-color;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
}


.background-adult {
    background-image: url(../../public/images/adult_option.jpg);
    background-position-x: right;
    background-position-y: 0%;

    @include background-hover;
}

.background-child {
    background-image: url(../../public/images/child_option.jpg);
    background-position-x: right;
    background-position-y: 90%;

    @include background-hover;
}

.return-button {
    left: 2rem;
    top: 6rem;
    border-radius: 50% !important;
    background-color: rgb(206, 206, 206);
    color:rgb(90, 90, 90);
    border: none !important;
    width: 7rem;
    aspect-ratio: 1/1;
    -webkit-transition: background-color 1s, color 1s, -webkit-transform 0.5s;
       transition: background-color 1s, transform 0.5s;
}
  
.return-button:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    -webkit-transform: translateX(-5px);
    -webkit-box-shadow: 5px 0px 18px 0px rgba(105,105,105,0.8);
    -moz-box-shadow: 5px 0px 18px 0px rgba(105,105,105,0.8);
    box-shadow: 5px 0px 18px 0px rgba(105,105,105,0.8);
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10rem;
    

    .registration-form {
        @media (max-width: 576px) {
            margin-top: 7rem;
        
            
        }
    }
}

.address-option:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    -webkit-box-shadow: 5px 0px 18px 0px rgba(105,105,105,0.8);
    -moz-box-shadow: 5px 0px 18px 0px rgba(105,105,105,0.8);
    box-shadow: 5px 0px 18px 0px rgba(105,105,105,0.8);
}

textarea {
  resize: none;
  overflow: hidden;
  min-height: 50px;
  max-height: 100px;
}


// media query for mobiles
@media (max-width: 576px) {
    .heading-box {
        width: 90%;
        box-shadow: 0px 0px 3px 5px aliceblue;
    }

    .background-adult {
        background-position-x: 70%;
    }
    .background-child {
        background-position-x: 75%;
    }
}